doctype html
html(lang="EN")
    head
        title Nigerian online market
        meta(charset="utf8")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        base(href="/")
        <!-- Google fonts -->
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500', rel="stylesheet")
        <!-- font awesome -->
        link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css",rel="stylesheet")

        link(rel="styleSheet", href="/assets/bootstrap/css/bootstrap.min.css")
        <!-- animate.css -->
        link(rel="stylesheet", href="/assets/wow/animate.css")
        <!-- selectbox -->
        link(href="assets/selectbox/jquery.selectbox.css", rel="stylesheet",type="text/css")
        <!-- Owl Carousel Assets -->
        link(href="assets/owl-carousel/owl.carousel.css" ,rel="stylesheet")
        link(rel="styleSheet", href="/assets/style.css")
        link(href="assets/style.css" ,rel="stylesheet")

        //link(rel="styleSheet", href="/stylesheets/main.css")

        link(rel="styleSheet", href="/stylesheets/site.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")

    body(ng-app="app")
        block main-content
        include  scripts




