script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")


<!-- Angular scripts -->
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/nmMainCtrl.js")

<!-- owlcarousel -->
script(src="/assets/owl-carousel/owl.carousel.min.js",type="text/javascript")
script(type="text/javascript", src="/assets/bootstrap/js/bootstrap.js")

<!-- jquery mobile -->
script(src="assets/mobile/touchSwipe.min.js", type="text/javascript")
script(src="assets/respond/respond.js",type="text/javascript")

script(type="text/javascript", src="/assets/selectbox/jquery.selectbox.js")
script(type="text/javascript", src="/vendor/bluebird/js/browser/bluebird.js")
script(type="text/javascript", src="assets/script.js")

